<div class="container">

  <h1 class="alert alert-danger"> {{title}} </h1>

  <!-- Vertical Table -->
  <div class="container">
    <h1>Vertical Table</h1>
    <table class="table">
      <tr *ngFor="let el of itemsArr, let i=index">
        <td>index: {{i}}</td>

        <td>{{el}}</td>
      </tr>
    </table>
  </div>
  <div class="container">
    <h1>Horizontal Table</h1>
    <!-- Horizontal Table -->
    <table class="table">
      <tr>
        <td *ngFor="let el of itemsArr">{{el}}</td>
      </tr>
    </table>
  </div>
  <div class="table">
    <h1>Normal List</h1>
    <ul>

      <li *ngFor="let element of itemsArr">
        {{element}}
      </li>
    </ul>
  </div>

  <div class="form-group">
    <h1>ngModel</h1>
    <p class="alert alert-primary">{{name}}</p>
    <label for="">Digite o valor</label>
    <input class="form-control" type="text" name="getName" [(ngModel)]="name" />
  </div>






  <button class="btn btn-primary">BTN BOOTSTRAP</button>


  <div class="card" style="margin-top: 80px;">

    <div class="container">
      <h3>To-Dos</h3>
      <table class="table">
        <tr *ngFor="let el of toDoArr, let i=index">
          <td>index: {{i}}</td>
          <td>{{el}}</td>
          <td>
            <button class="btn btn-outline-danger" (click)="remove(i)">X</button>
          </td>

        </tr>
      </table>
    </div>
    <h5>Digite um To-Do</h5>

    <input class="form-control" type="text" name="getName" [(ngModel)]="toDo" />
    <button (click)="addToDo()" class="btn btn-primary">ADD</button>
  </div>


</div>
